name: Build for Debug

on:
  push:
    branches:
      - "*"
  pull_request: {}

jobs:
  Godot:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - platform: Windows
            extension: exe
          - platform: Windows.OpenGL
            extension: exe
          - platform: Linux
            extension: x86-64
          - platform: macOS
            extension: zip
    steps:
      - uses: actions/checkout@v4
      - name: Build
        id: build
        uses: DerpyChap/build-godot-action@8b73ce192fc5ac52639e4a4abb5ced822e2c7682
        with:
          name: TromboneCharter.${{ matrix.platform }}.${{ matrix.extension }}
          preset: ${{ matrix.platform }}
          subdirectory: github
          debugMode: "true"
      - name: Set short git commit SHA
        id: vars
        run: |
            calculatedSha=$(git rev-parse --short ${{ github.sha }})
            echo "COMMIT_SHORT_SHA=$calculatedSha" >> $GITHUB_ENV
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: TromboneCharter-${{ matrix.platform }}-${{ env.COMMIT_SHORT_SHA }}
          path: ${{ github.workspace }}/${{ steps.build.outputs.build }}
